<div class="row justify-content-xl-center inici">
    <div class="col col-xl-2 columnas">
        <div class="card" style="height: 400px;"></div>
        <div class="card mt-3" style="height: 700px;"></div>
    </div>
    <div class="col col-xl-4 columnas">
        <app-notice 
        *ngFor="let notice of notices" 
        [notice]="notice"
        ></app-notice>
    </div>
    <div class="col col-xl-2 columnas">
        <div class="card" style="height: 300px;"></div>
        <div class="card mt-3" style="height: 600px;"></div>
    </div>
</div>