.recomendarIcon {
  margin-right: 1px;
}

.notice {
  margin-bottom: 5px;
}
a{
  .headerNotice{
    img{
      height: 35px;
      border-radius: 100px;

    }
  }
}
a:hover{
  text-decoration: none;
}