.user{
  margin-top: 52px;
  .columnas{
    margin-top: 20px;
    margin-right: 5px;

    .fondoUser{
      height: 160%;
      width: 100%;
      img{
        display: block;
        height: 100%;
      }
    }

    .imgUser{
      position: absolute;
      bottom: 15px;
      left: 15px;
      border-radius: 100px;
      height: 180px;
      border-style: solid;
      border-width: 5px;
      border-color: #e2e5e7;
    }
    .imgAndButtons{
      height: 50px;
      .sendMessage{
        margin-right: 7px;
      }
    }
    .textHeader{
      .text{
        margin-top: 0px;
        margin-left: 10px;
        height: 100%;
        width: 90%;
      }
    }
  }
}